<a href="https://colab.research.google.com/github/Arham-Aryan/NotePy/blob/main/NotePy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("This is Arham")

This is Arham

In [ ]:
text = "Hello Guys"
print (text)

Hello Guys

In [ ]:
number1 = 10
number2 = 5

result = number1 + number2
print (result)

15

In [ ]:
number1 = input ("Pleased type an integer and press enter: ")
number2 = input ("Type another integer and press enter:  ")
number1 = int(number1)
number2 = int(number2)
print ("number1+number2 = ",number1+number2)

Pleased type an integer and press enter: 4
Type another integer and press enter:  9
number1+number2 =  13

In [ ]:
Murphy = 40
Nolan = 30
Murphy >= Nolan

True

In [ ]:
today = "Wednesday"
not (today == "Wednesday")

False

In [ ]:
number = 20
number>10 or number>100

True

In [ ]:
saarc = ["Bangladesh","Pakistan","Sri Lanka", "Nepal", "Bhutan"]
print(saarc)
print(saarc[0])

['Bangladesh', 'Pakistan', 'Sri Lanka', 'Nepal', 'Bhutan']
Bangladesh

In [ ]:
print("Number of countries in saarc: ",len(saarc))

Number of countries in saarc:  5

In [ ]:
"China" in saarc

False

In [ ]:
country = input("Enter name of the country: ")
if country in saarc:
  print(country, "is a member of saarc")

else:
  print(country, "not a member of saaec")

print("Program terminated")

Enter name of the country: Vietnam
Vietnam not a member of saaec
Program terminated

In [ ]:
marks = input("Please enter your marks: ")
marks = int(marks)

if marks>=80:
  grade = "A+"
elif marks>=70:
  grade = "A"
elif marks>=60:
  grade = "B"
else:
  grade = "F"

print("Your obtained grade is : ",grade)

Please enter your marks: 77
Your obtained grade is :  A

In [5]:
a=30
b=20
c=25
if a>b:
  max_number = a
else:
  max_number = b
max_number

30

In [6]:
if c>max_number:
  max_number = c
max_number

30

In [12]:
year = int(input("Enter the year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Yes")
        else:
            print("No")
    else:
        print("Yes")
else:
    print("No")

Enter the year: 2000
Yes

In [15]:
for i in range(10):
  print(" I want to be a great programmer.")

 I want to be a great programmer.
 I want to be a great programmer.
 I want to be a great programmer.
 I want to be a great programmer.
 I want to be a great programmer.
 I want to be a great programmer.
 I want to be a great programmer.
 I want to be a great programmer.
 I want to be a great programmer.
 I want to be a great programmer.

In [17]:
result = 0
for i in range(50):
  result += 1

print(result)

50

In [21]:
result = 0
number = 1
for i in range (50):
  result = result + number
  number = number + 1
print (result)

1275